<div class="mb-4">
  @if (label) {
    <label [for]="id" class="block mb-2 font-medium text-slate-200">
      {{ label }}
    </label>
  }
  <div class="relative">
    <select
      [id]="id"
      [value]="value"
      [disabled]="disabled"
      (change)="onSelectChange($event)"
      (blur)="onBlur()"
      class="block w-full rounded-md bg-slate-700 border border-slate-600 text-slate-200 shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm p-2 appearance-none"
      [ngClass]="{
        'border-red-500 focus:ring-red-500 focus:border-red-500': showError(),
        'opacity-70 cursor-not-allowed': disabled
      }"
    >
      @if (placeholder) {
        <option value="" disabled selected>{{ placeholder }}</option>
      }
      <ng-content></ng-content>
      @for (option of options; track option.key) {
        <option value="{{ option.key }}" [disabled]="option.disabled">{{ option.name }}</option>
      }
    </select>
    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-slate-200">
      <svg class="h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
      </svg>
    </div>
  </div>
  @if (showError()) {
    <div class="mt-1 text-sm text-red-500">
      <span *ngIf="control.errors?.['required']">This field is required</span>
      <!-- Add more error messages as needed -->
    </div>
  }

</div>
