<div class="mt-10 max-w-md mx-auto bg-slate-800 p-6 rounded-lg shadow-md border-3d">
  <form [formGroup]="userForm" (submit)="onSubmit()">

    <app-basic-info formGroupName="basicInfo"></app-basic-info>
    <hr class="hr">
    <app-address formGroupName="address"></app-address>
    <hr class="hr">
    <app-chat-rules-configurator formGroupName="chatRules"></app-chat-rules-configurator>
    <hr class="hr">
    <app-chat-features-configurator formGroupName="chatFeatures"></app-chat-features-configurator>
    <hr class="hr">

    <!-- Submit Button -->
    <div>
      <button
        type="submit"
        [disabled]="userForm?.invalid"
        class="btn w-full border-3d">
        Submit
      </button>
    </div>

  </form>

<!--  <pre style="margin-top:50px; border: 1px solid red; width: fit-content">-->
<!--  {{ userForm.value | json }}-->
<!--    </pre>-->
</div>
