<div class="mt-10 max-w-md mx-auto bg-slate-800 p-6 rounded-lg shadow-md">
  <form [formGroup]="userForm" (submit)="onSubmit()">

    <app-basic-info formGroupName="basicInfo"></app-basic-info>

    <app-address formGroupName="address"></app-address>
    <h1>test</h1>
    <app-chat-rules formGroupName="chatRules"></app-chat-rules>

    <!-- Submit Button -->
    <div>
      <button
        type="submit"
        [disabled]="userForm.invalid"
        class="
          w-full
          bg-blue-600
          text-white
          font-semibold
          py-2
          mt-6
          px-4
          rounded-md
          hover:bg-blue-700
          transition
          duration-300
          disabled:bg-slate-900
          disabled:text-slate-800
        ">
        Submit
      </button>
    </div>

  </form>

<!--  <pre style="margin-top:50px; border: 1px solid red; width: fit-content">-->
<!--  {{ userForm.value | json }}-->
<!--    </pre>-->
</div>
